

/* ---- reset ---- */ 
body { margin:0; font:normal 75% Arial, Helvetica, sans-serif; } 
#home {
    position: relative;
    width: 100%;
    height: 100vh; /* Make the section full height */
    background-image: url('./assets/beryl-bg-main.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
  }

  #logo-container>img {border-radius: 100%}
  #logo-container {
    margin-left: 2.5em; 
    width: 50px; 
    height: 50px; 
    padding: 0;
  }
  #nav-bar-flex-container {
    display: flex; 
    justify-content: space-between;
    padding: 0.5em;
    position: sticky;
    margin-top: 10px;
    z-index: 2;
  }
  #home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.30); /* Semi-transparent overlay */
    z-index: 1; /* Ensure it sits above the image */
}
  

  ul {
    list-style: none;
    margin: 0;
    padding: 1.5em;
}
#nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  text-decoration: none;
}

#nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-family: sans-serif, Helvetica, Arial;
  font-weight: 600;
  transition: all 0.3s ease;
}

#nav-links a:hover, #nav-links a:active {
  color: #ff6363; /* Change text color on hover */
  transform: scale(1.1); /* Slightly enlarge the text */
  text-decoration: underline; /* Add underline */
  text-underline-offset: 5px; /* Adjust the distance of the underline */
  text-decoration-color: #ff6363; /* Make underline the same color as text */
  text-decoration-thickness: 3px;
}

#intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
  margin-top: 20vh;
}

#intro-name {
  font-size: 120px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 7%;
}


.playfair-display-intro-name {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.montserrat-intro-title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: 0.1em;
  color: transparent; /* Makes the text itself transparent */
  -webkit-text-stroke: 2px #ff6363; /* Adds a blue outline with 2px thickness */
  text-shadow: none; /* Ensures no shadow obscures the effect */
}
